/docs/Capstone_Documents/images/*
/tools/dist/*
/tools/tools/*

# Python cache files
*.pyc
*.pyo
*.pyd
__pycache__/

# Temporary files
*.swp
*.swo
*.tmp
*~

# Windows specific files
Thumbs.db
prototyping/GCRP_PCB_Prototype_V1/GCRP_PCB_Prototype_V1.kicad_pcb
prototyping/GCRP_PCB_Prototype_V1/GCRP_PCB_Prototype_V1.kicad_prl
prototyping/GCRP_PCB_Prototype_V1/GCRP_PCB_Prototype_V1.kicad_pro
prototyping/GCRP_PCB_Prototype_V1/GCRP_PCB_Prototype_V1.kicad_sch
prototyping/GCRP_PCB_Prototype_V1/GCRP_PCB_Prototype_V1-backups/GCRP_PCB_Prototype_V1-2024-07-22_210451.zip
prototyping/GCRP_PCB_Prototype_V1/GCRP_PCB_Prototype_V1-backups/GCRP_PCB_Prototype_V1-2024-07-22_213528.zip
prototyping/GCRP_PCB_Prototype_V1/GCRP_PCB_Prototype_V1-backups/GCRP_PCB_Prototype_V1-2024-07-22_215907.zip
prototyping/GCRP_PCB_Prototype_V1/GCRP_PCB_Prototype_V1-backups/GCRP_PCB_Prototype_V1-2024-07-27_120442.zip
prototyping/GCRP_PCB_Prototype_V1/GCRP_PCB_Prototype_V1-backups/GCRP_PCB_Prototype_V1-2024-07-28_162608.zip
